@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
    --primary-color: #FF4B2B;
    --secondary-color: #FF416C;
    --background-color: #f6f5f7;
    --text-color: #333;
    --white: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --light-shadow-color: rgba(0, 0, 0, 0.22);
}

/*************** Navbar ***************/
header {
    top: 0;
    width: 100%;
    background-color: var(--white);
    border-bottom: 1px solid #dee2e6;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
    padding: 10px 20px; /* Thêm padding cho navbar */
}

header h4 {
    margin: 0;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: bold;
}

header .btn {
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    padding: 8px 12px; /* T?ng kích th??c nút */
    border-radius: 5px; /* Bo góc cho nút */
}

header .btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
    transform: scale(1.05);
}

header .social-icons {
    display: flex;
    align-items: center;
}

header .social-icons a {
    margin-left: 15px; /* Kho?ng cách gi?a các bi?u t??ng */
    color: var(--primary-color);
    transition: transform 0.3s, color 0.3s; /* Thêm hi?u ?ng màu s?c */
}

header .social-icons a:hover {
    transform: scale(1.3); /* Phóng to khi hover */
    color: var(--secondary-color); /* Thay ??i màu khi hover */
}

/* Hi?u ?ng fade-in cho navbar */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 0.5s forwards; /* Thay ??i th?i gian fade-in */
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
